<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="shortcut icon" href="../../images/favicon.png">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>还款管理</title>
    <style type="text/css">
        /* Chart.js */
        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }

            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }

            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
</head>

<body>
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            Forms
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Basic elements</li>
            </ol>
        </nav>
    </div>
    <div id="app" class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">新增贷后预警</h4>
                    <br/>
                    <el-form ref="form" :model="form">
                        <el-form-item label="预警名称:">
                            <el-input v-model="form.alertName" placeholder="请为该预警定义一个名称" style="width:300px">
                            </el-input>
                        </el-form-item>
                        <el-form-item label="贷款类型:">
                            <el-select v-model="form.loanType">
                                <el-option
                                        v-for="item in options1"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="贷款产品:">
                            <el-select v-model="form.loanProduct">
                                <el-option
                                        v-for="item in options2"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="贷款五级分类:">
                            <el-select v-model="form.fiveClassification">
                                <el-option
                                        v-for="item in options3"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="预警方式:">
                            <el-select clearable value-key="value" v-model="form.warningType"
                                       style="width:110px">
                                <el-option
                                        v-for="item in options5"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="提前预警天数:">
                            <el-input-number size="small" v-model="form.earlyWarningDays"></el-input-number>
                        </el-form-item>
                        <el-form-item label="预警发送时间:">
                            <el-radio v-model="form.warningTime" label="10:00">10:00</el-radio>
                            <el-radio v-model="form.warningTime" label="14:00">14:00</el-radio>
                            <el-radio v-model="form.warningTime" label="18:00">18:00</el-radio>
                            <el-radio v-model="form.warningTime" label="22:00">22:00</el-radio>
                        </el-form-item>
                        <el-form-item label="接收成员:">
                            <el-select v-model="form.selectMember">
                                <el-option
                                        v-for="item in options4"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="是否启用:">
                            <el-switch v-model="form.open" active-color="#13ce66" inactive-color="#ff4949">
                            </el-switch>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="warning" icon="el-icon-s-promotion" @click="onSubmit()">提交</el-button>
                            <el-button type="info" icon="el-icon-switch-button" @click="onBack()">返回</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="../../vendors/js/vendor.bundle.base.js"></script>
<script src="../../vendors/js/vendor.bundle.addons.js"></script>
<script src="../../js/off-canvas.js"></script>
<script src="../../js/misc.js"></script>
<script src="../../js/file-upload.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var earlyA = new Vue({
        el: '#app',
        data: {
            form: {
                alertName: '',
                loanType: '个人信用',
                loanProduct: '工薪贷',
                fiveClassification: '正常贷款',
                earlyWarningDays: 3,
                warningTime: '10:00',
                selectMember: '',
                warningType: '',
                open: true,
            },
            options1: [{value: '个人信用', label: '个人信用'}, {value: '银行授信', label: '银行授信'}],
            options2: [{value: '工薪贷', label: '工薪贷'}, {value: '悦心贷', label: '悦心贷'}],
            options3: [{value: '正常贷款', label: '正常贷款'}, {value: '关注贷款', label: '关注贷款'}, {value: '次级贷款', label: '次级贷款'}, {value: '可疑贷款', label: '可疑贷款'}, {value: '损失贷款', label: '损失贷款'}],
            options4: [{value: '小黑', label: '小黑'}, {value: '小白', label: '小白'}, {value: '张无忌', label: '张无忌'}, {value: '张三丰', label: '张三丰'}, {value: '梅超风', label: '梅超风'}],
            options5: [{value: '短信', label: '短信'}, {value: '邮件', label: '邮件'}, {value: '电话', label: '电话'}]
        },
        methods: {
            onSubmit() {
                axios.post('http://localhost:8080/earlyWarning/add/', this.form).then(function (response) {
                    console.log(response.data.res)
                    if (response.data.res === 1) {
                        earlyA.$notify({
                            title: '成功',
                            message: '添加预警信息成功',
                            type: 'success'
                        });
                    }else {
                        earlyA.$notify.error({
                            title: '错误',
                            message: '添加预警出现异常'
                        });
                    }
                }).catch(function (error) {
                    console.log(error);
                });
                window.location.href = 'http://localhost:8080/earlyWarning'
            },
            onBack() {
                window.location.href = 'http://localhost:8080/earlyWarning'
            }
        }
    });
</script>

</html>