<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="shortcut icon" href="../../images/favicon.png">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>还款管理</title>
    <style type="text/css">
        /* Chart.js */
        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }

            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }

            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
</head>

<body>
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            Forms
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Basic elements</li>
            </ol>
        </nav>
    </div>
    <div id="app" class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">贷后检查</h4>
                    <p class="card-description">
                        贷后检查记录
                    </p>
                    <el-form ref="form" :model="form">
                        <el-form-item label="贷款编号:">
                            <el-input v-model="form.user" placeholder="可输入贷款编号或贷款人查找" style="width:300px">
                            </el-input>
                        </el-form-item>
                        <el-col :span="4">
                            <el-form-item label="贷款人姓名:">
                                张某某
                            </el-form-item>
                        </el-col>
                        <el-col :span="4">
                            <el-form-item label="贷款期限:">
                                24期
                            </el-form-item>
                        </el-col>
                        <el-col :span="4">
                            <el-form-item label="贷款金额:">
                                48000元
                            </el-form-item>
                        </el-col>
                        <el-form-item label="贷款剩余:">
                            38500
                        </el-form-item>
                        <el-form-item label="检查方式:">
                            <el-radio-group v-model="form.radio1" size="medium">
                                <el-radio-button label="电话检查"></el-radio-button>
                                <el-radio-button label="实地检查"></el-radio-button>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="检查原因:">
                            <el-radio-group v-model="form.radio2" size="medium">
                                <el-radio-button label="首次检查"></el-radio-button>
                                <el-radio-button label="日常检查"></el-radio-button>
                                <el-radio-button label="逾期检查"></el-radio-button>
                                <el-radio-button label="其它"></el-radio-button>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="检查内容:">
                            <el-input type="textarea" placeholder="请输入内容" v-model="form.textarea" maxlength="400"
                                      style="width:500px" rows="6" show-word-limit>
                            </el-input>
                        </el-form-item>
                        <br/>
                        <h4 class="card-title">贷后处理意见</h4>
                        <el-form-item label="五级分类选择:">
                            <el-radio-group v-model="form.radio3" size="small">
                                <el-radio-button label="正常贷款"></el-radio-button>
                                <el-radio-button label="关注贷款"></el-radio-button>
                                <el-radio-button label="次级贷款"></el-radio-button>
                                <el-radio-button label="可疑贷款"></el-radio-button>
                                <el-radio-button label="损失贷款"></el-radio-button>
                            </el-radio-group>
                        </el-form-item>
                        <br/><br/>
                        <el-form-item>
                            <el-button type="warning" icon="el-icon-s-promotion" @click="onSubmit()">提交</el-button>
                            <el-button type="info" icon="el-icon-switch-button" @click="onBack()">返回</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="../../vendors/js/vendor.bundle.base.js"></script>
<script src="../../vendors/js/vendor.bundle.addons.js"></script>
<script src="../../js/off-canvas.js"></script>
<script src="../../js/misc.js"></script>
<script src="../../js/file-upload.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var insA = new Vue({
        el: '#app',
        data: {
            form: {
                user: '',
                textarea: '',
                radio1: '电话检查',
                radio2: '首次检查',
                radio3: '正常贷款'
            }
        },
        created() {
            //this.fetchData()
        },
        methods: {
            fetchData() {
                axios.get('http://localhost:8080/tryAxios').then(function (response) {
                    insA.$data.tableData = response.data.repaymentInfo
                }).catch(function (error) {
                    console.log(error);
                });
            },
            onSubmit() {

            },
            onBack() {
                window.location.href = 'http://localhost:8080/inspectionManager'
            }
        }
    });
</script>

</html>