<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="shortcut icon" href="../../images/favicon.png">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>还款管理</title>
    <style type="text/css">
        /* Chart.js */
        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }

            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }

            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
</head>

<body>
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            提前还款
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Basic elements</li>
            </ol>
        </nav>
    </div>
    <div id="app" class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <template>
                        <el-form :inline="true" :model="search" class="demo-form-inline">
                            <el-form-item>
                                <el-input v-model="search.loanId" placeholder="借款编号" style="width:120px"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-input v-model="search.name" placeholder="姓名" style="width:140px"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-input v-model="search.contractNo" placeholder="合同号" style="width:160px"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-input v-model="search.loanType" placeholder="贷款类型" style="width:160px"></el-input>
                            </el-form-item>
                            <el-date-picker v-model="search.dateRange" type="daterange" range-separator="-"
                                            style="width:280px"
                                            start-placeholder="开始日期" end-placeholder="结束日期"
                                            :picker-options="pickerOptions">
                            </el-date-picker>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <el-form-item>
                                <el-button type="primary" icon="el-icon-search" @click="onSubmit()">查询</el-button>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="info" icon="el-icon-refresh" @click="handleReset()">重置</el-button>
                            </el-form-item>
                        </el-form>
                        <br/>
                        <el-table :data="tableData" style="width: 100%">
                            <el-table-column type="selection" width="55" align="center"></el-table-column>
                            <el-table-column prop="loanId" label="借款编号" width="90" align="center"></el-table-column>
                            <el-table-column prop="userName" label="姓名" width="60" align="center"></el-table-column>
                            <el-table-column prop="contractId" label="合同号" width="80" align="center">
                            </el-table-column>
                            <el-table-column prop="getLoanDate" label="申请日期" width="110" align="center">
                            </el-table-column>
                            <el-table-column prop="loanAmount" label="申请额度" width="90" align="center">
                            </el-table-column>
                            <el-table-column prop="approvalAmount" label="审批金额" width="80" align="center">
                            </el-table-column>
                            <el-table-column prop="contractAmount" label="合同金额" width="80" align="center">
                            </el-table-column>
                            <el-table-column prop="borrowingPeriod" label="借款期限" width="80" align="center">
                            </el-table-column>
                            <el-table-column prop="loanType" label="贷款类型" width="80" align="center">
                            </el-table-column>
                            <el-table-column prop="repaymentType" label="还款方式" width="90" align="center">
                            </el-table-column>
                            <el-table-column prop="loanDate" label="放款时间" width="100" align="center">
                            </el-table-column>
                            <el-table-column prop="borrowType" label="放款方式" width="90" align="center">
                            </el-table-column>
                            <el-table-column label="状态" width="90" align="center">
                                <template slot-scope="scope">
                                    <el-tag v-if="scope.row.repaymentFinish===true" type="danger">还款中
                                    </el-tag>
                                    <el-tag v-else type="success">已还清</el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column fixed="right" label="操作" width="170" align="center">
                                <template slot-scope="scope">
                                    <el-button size="mini" @click="handleShow(scope.row)">查看</el-button>
                                    <el-button size="mini" type="danger"
                                               @click="handleReRecord(scope.row.loanId)">还款录入
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <br/>
                        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                                       :current-page="currentPage" :page-sizes="[5, 10, 20, 40]" :page-size="pageSize"
                                       layout="total, sizes, prev, pager, next, jumper" :total="totalSize">
                        </el-pagination>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="../../vendors/js/vendor.bundle.base.js"></script>
<script src="../../vendors/js/vendor.bundle.addons.js"></script>
<script src="../../js/off-canvas.js"></script>
<script src="../../js/misc.js"></script>
<script src="../../js/file-upload.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var preM = new Vue({
        el: '#app',
        data: {
            search: {
                loanId: '',
                name: '',
                contractNo: '',
                loanType: '',
                dateRange: ''
            },
            currentPage: 1,
            pageSize: 5,
            totalSize: 0,
            pickerOptions: {
                shortcuts: [{
                    text: '最近一周',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '最近一个月',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '最近三个月',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        picker.$emit('pick', [start, end]);
                    }
                }]
            },
            tableData: []
        },
        created() {
            this.fetchData()
        },
        methods: {
            fetchData() {
                var cp = String(this.currentPage);
                var ps = String(this.pageSize);
                var q = this.search;
                this.axiosMessage(cp, ps, q)
            },
            handleSizeChange: function (size) {
                preM.$data.currentPage = 1;
                preM.$data.pageSize = size;
                this.fetchData()
            },
            handleCurrentChange: function (currentPage) {
                this.$data.currentPage = currentPage;
                this.fetchData()
            },
            handleShow(row) {
                window.location.href = 'http://localhost:8080/tryAxios/view/' + row.loanId
            },
            handleReRecord(loanId) {
                window.location.href = 'http://localhost:8080/repayment/check/' + loanId
            },
            axiosMessage(cp, ps, q) {
                if (q.dateRange === '') {
                    q.dateRange = null
                }
                axios.post(('http://localhost:8080/repayment/list/' + cp + '/' + ps), q).then(function (response) {
                    preM.$data.tableData = response.data.rows;
                    preM.$data.totalSize = response.data.total;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            onSubmit() {
                preM.$data.currentPage = 1;
                this.fetchData()
            },
            handleReset() {
                preM.$data.search.loanId = '';
                preM.$data.search.name = '';
                preM.$data.search.contractNo = '';
                preM.$data.search.loanType = '';
                preM.$data.search.dateRange = '';
                this.onSubmit();
            }
        }
    });
</script>

</html>