<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="shortcut icon" href="../../images/favicon.png">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>还款管理</title>
    <style type="text/css">
        /* Chart.js */
        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }

            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }

            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
</head>

<body>
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            Forms
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Basic elements</li>
            </ol>
        </nav>
    </div>
    <div id="app" class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <el-form :inline="true" :model="formInline" class="demo-form-inline">
                        <el-form-item label="">
                            <el-input v-model="formInline.user" placeholder="借款编号" style="width:120px"></el-input>
                        </el-form-item>
                        <el-form-item label="">
                            <el-input v-model="formInline.user" placeholder="姓名/手机号" style="width:140px"></el-input>
                        </el-form-item>
                        <el-form-item label="">
                            <el-input v-model="formInline.user" placeholder="合同号" style="width:160px"></el-input>
                        </el-form-item>
                        <el-form-item label="">
                            <el-select v-model="formInline.region" placeholder="贷款类型" style="width:110px">
                                <el-option label="个人信用" value="1"></el-option>
                                <el-option label="征信机构" value="2"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-date-picker v-model="value1" type="daterange" range-separator="-" style="width:280px"
                                        start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="pickerOptions">
                        </el-date-picker>
                        <el-form-item>
                            <el-button type="primary" @click="onSubmit(formInline)">查询</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <template>
                        <el-table :data="tableData" style="width: 100%">
                            <el-table-column type="selection" width="55" align="center"></el-table-column>
                            <el-table-column prop="loanId" label="借款编号" width="80" align="center"></el-table-column>
                            <el-table-column prop="userName" label="姓名" width="60" align="center"></el-table-column>
                            <el-table-column prop="contractNo" label="合同号" width="160" align="center">
                            </el-table-column>
                            <el-table-column prop="applicationDate" label="申请日期" width="120" align="center">
                            </el-table-column>
                            <el-table-column prop="applicationQuota" label="申请额度" width="80" align="center">
                            </el-table-column>
                            <el-table-column prop="approvalAmount" label="审批金额" width="80" align="center">
                            </el-table-column>
                            <el-table-column prop="contractAmount" label="合同金额" width="80" align="center">
                            </el-table-column>
                            <el-table-column prop="borrowingPeriod" label="借款期限" width="80" align="center">
                            </el-table-column>
                            <el-table-column prop="loanType" label="贷款类型" width="80" align="center">
                            </el-table-column>
                            <el-table-column prop="repaymentType" label="还款方式" width="90" align="center">
                            </el-table-column>
                            <el-table-column prop="loanTime" label="放款时间" width="120" align="center">
                            </el-table-column>
                            <el-table-column prop="loanChannel" label="放款通道" width="90" align="center">
                            </el-table-column>
                            <el-table-column prop="status" label="状态" width="70" align="center"></el-table-column>
                            <el-table-column fixed="right" label="操作" width="210" align="center">
                                <template slot-scope="scope">
                                    <el-button size="mini" @click="handleShow(scope.row.loanId)">查看</el-button>
                                    <el-button size="mini" type="danger"
                                               @click="handleReRecord(scope.row.loanId)">提前还款办理
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                                       :current-page="currentPage" :page-sizes="[5, 10, 20, 40]" :page-size="pagesize"
                                       layout="total, sizes, prev, pager, next, jumper" :total="50">
                        </el-pagination>
                    </template>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
<script src="../../vendors/js/vendor.bundle.base.js"></script>
<script src="../../vendors/js/vendor.bundle.addons.js"></script>
<script src="../../js/off-canvas.js"></script>
<script src="../../js/misc.js"></script>
<script src="../../js/file-upload.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var pre = new Vue({
        el: '#app',
        data: {
            testEle: 'hope',
            formInline: {
                user: '',
                region: ''
            },
            currentPage: 1, //初始页
            pagesize: 5,    //    每页的数据
            pickerOptions: {
                shortcuts: [{
                    text: '最近一周',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '最近一个月',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '最近三个月',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        picker.$emit('pick', [start, end]);
                    }
                }]
            },
            value1: '',
            tableData: []
        },
        created(){
            this.fetchData()
        },
        methods: {
            fetchData() {
                axios.get('http://localhost:8080/tryAxios').then(function (response) {
                    pre.$data.tableData = response.data.repaymentInfo
                }).catch(function (error) {
                    console.log(error);
                });
            },
            // 初始页currentPage、初始每页数据数pagesize和数据data
            handleSizeChange: function (size) {
                this.pagesize = size;
                console.log(this.pagesize)  //每页下拉显示数据
            },
            handleCurrentChange: function (currentPage) {
                this.currentPage = currentPage;
                console.log(this.currentPage)  //点击第几页
            },
            handleShow(loanId) {
                window.location.href = 'http://localhost:8080/prepayment/view/' + loanId
            },
            handleReRecord(loanId) {
                window.location.href = 'http://localhost:8080/prepayment/check/' + loanId
            }
        }
    });
</script>

</html>