<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="shortcut icon" href="../../images/favicon.png">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>还款管理</title>
    <style type="text/css">
        /* Chart.js */
        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }

            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }

            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
</head>

<body>
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            Forms
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Basic elements</li>
            </ol>
        </nav>
    </div>
    <div id="app" class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">客户【xxx】还款信息</h4>
                    <template>
                        <el-table :data="tableData" style="width: 100%">
                            <el-table-column prop="repaymentCycle" label="还款期数" width="80" align="center"></el-table-column>
                            <el-table-column prop="defaultRepaymentDate" label="应还款日" width="100" align="center"></el-table-column>
                            <el-table-column prop="repaymentDate" label="实际还款日" width="100" align="center"></el-table-column>
                            <el-table-column prop="principal" label="本金" width="70" align="center"></el-table-column>
                            <el-table-column prop="interest" label="利息" width="70" align="center"></el-table-column>
                            <el-table-column prop="managementFee" label="管理费" width="70" align="center"></el-table-column>
                            <el-table-column prop="contractAmount" label="还款总额" width="80" align="center"></el-table-column>
                            <el-table-column prop="reductionAmount" label="减免金额" width="80" align="center"></el-table-column>
                            <el-table-column prop="repaymentCycle" label="逾期天数" width="80" align="center"></el-table-column>
                            <el-table-column prop="status" label="状态" width="90" align="center"></el-table-column>
                            <el-table-column prop="commitPerson" label="提交人" width="120" align="center"></el-table-column>
                            <el-table-column prop="commitTime" label="提交时间" width="110" align="center"></el-table-column>
                            <el-table-column prop="repaymentComment" label="还款备注" width="110" align="center"></el-table-column>
                        </el-table>
                    </template>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
<script src="../../vendors/js/vendor.bundle.base.js"></script>
<script src="../../vendors/js/vendor.bundle.addons.js"></script>
<script src="../../js/off-canvas.js"></script>
<script src="../../js/misc.js"></script>
<script src="../../js/file-upload.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var view = new Vue({
        el: '#app',
        data: {
            tableData: [{
                repaymentCycle: 1,
                defaultRepaymentDate: '2018-9-10',
                repaymentDate: '2018-9-10',
                principal: 1000.00,
                interest: 152.00,
                managementFee: 0.00,
                contractAmount: 1152.00,
                reductionAmount: 0.00,
                status: '提交审批',
                commitPerson: '操作人员A',
                commitTime: '2018-01-15',
                repaymentComment: '客户已转帐'
            }]
        },
        created(){
            this.fetchData();
        },
        methods: {
            fetchData() {
                console.log("fetch");
                axios.get('http://localhost:8080/tryAxios').then(function (response) {
                    //view.$data.tableData = response.data.repaymentInfo
                }).catch(function (error) {
                    console.log(error);
                });
            },
        }
    });
</script>

</html>