<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt76.small_loan.mapper.CheckStateMapper">

  <select id="qryAllCheckStateById" parameterType="int" resultType="com.dt76.small_loan.pojo.CheckState">
    select cs.cs_id          as csId,
           cs.bo_id          as boId,
           m_id              as mId,
           m_date            as mDate,
           m_type            as mType,
           m_result          as mResult,
           m_comment         as mComment,
           m_contractMoney   as mContractMoney,
           cs.m_approveMoney as mApproveMoney
    from checkState cs,
         borrowOrder bo
    where bo.bo_id = cs.bo_id
      and cs.bo_id = #{id}
  </select>
</mapper>