<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt76.small_loan.mapper.SettlementMapper">

  <resultMap id="settlementInfo" type="com.dt76.small_loan.pojo.SettlementInfo">
    <id property="loanId" column="lid"/>
    <result property="summaryDate" column="sda"/>
    <result property="summaryDescription" column="sds"/>
    <result property="summaryPoint" column="spo"/>
    <result property="finished" column="fin"/>
    <association property="commonLoanInfo" javaType="com.dt76.small_loan.pojo.CommonLoanInfo">
      <id property="loanId" column="boId"/>
      <result property="userName" column="userName"/>
      <result property="contractId" column="cId"/>
      <result property="getLoanDate" column="gld"/>
      <result property="loanAmount" column="owm"/>
      <result property="approvalAmount" column="mam"/>
      <result property="contractAmount" column="mcm"/>
      <result property="borrowingPeriod" column="olt"/>
      <result property="loanType" column="lt"/>
      <result property="repaymentType" column="orm"/>
      <result property="loanDate" column="alt"/>
      <result property="borrowType" column="bty"/>
      <result property="repaymentFinish" column="rps"/>
    </association>
  </resultMap>


  <select id="getPageList" parameterType="com.dt76.small_loan.pojo.SettlementQualification" resultMap="settlementInfo">
    SELECT bO.bo_id                AS boId,
           u.userName              AS userName,
           bO.c_id                 AS cId,
           bO.o_createTime         AS gld,
           bO.o_wantedMoney        AS owm,
           cs.m_approveMoney       AS mam,
           cs.m_contractMoney      AS mcm,
           bO.o_loanTime           AS olt,
           hlp.Loan_Type           AS lt,
           bO.o_repayMode          AS orm,
           apl.al_time             AS alt,
           bO.l_type               AS bty,
           bO.repayment_status     AS rps,
           afs.loan_id             AS lid,
           afs.summary_date        AS sda,
           afs.summary_description AS sds,
           afs.summary_point       AS spo,
           afs.finished            AS fin
    FROM afterloansummary afs
           left join borrowOrder bO on bO.bo_id = afs.loan_id
           left join user u on bO.u_id = u.userId
           left join checkState cs on afs.loan_id = cs.bo_id and cs.m_type = 3
           left join h_loan_products hlp on hlp.Product_Id = afs.loan_id
           left join approvalLoan apl on apl.bo_id = afs.loan_id
  </select>
  <select id="getCount" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM afterloansummary
  </select>

</mapper>